<html>
<head>

        <link rel="stylesheet" href="prueba.css">
</head>
<body>

<input type="radio" id="tab1-radio" class="radio-button" name="content-filter" checked="checked">
<input type="radio" id="tab2-radio" class="radio-button" name="content-filter" value="Nivel 2">
<input type="radio" id="tab3-radio" class="radio-button" name="content-filter" value="Nivel 3">
<input type="radio" id="tab4-radio" class="radio-button" name="content-filter" value="Nivel 4">
<input type="radio" id="tab5-radio" class="radio-button" name="content-filter" value="Nivel 5">
<input type="radio" id="tab6-radio" class="radio-button" name="content-filter" value="Nivel 6">
<input type="radio" id="tab7-radio" class="radio-button" name="content-filter" value="Nivel 7">
<input type="radio" id="tab8-radio" class="radio-button" name="content-filter" value="Nivel 8">
<input type="radio" id="tab9-radio" class="radio-button" name="content-filter" value="Nivel 9">
<input type="radio" id="tab10-radio" class="radio-button" name="content-filter" value="Nivel 10">

<header id="filter">
  <label for="tab1-radio" class="filter-label tab1" id="tab1-label">Nivel 1</label>
  <label for="tab2-radio" class="filter-label tab2" id="tab2-label">Nivel 2</label>
  <label for="tab3-radio" class="filter-label tab3" id="tech-label">Nivel 3</label>
  <label for="tab4-radio" class="filter-label tab4" id="tab1-label">Nivel 4</label>
  <label for="tab5-radio" class="filter-label tab5" id="tab2-label">Nivel 5</label>
  <label for="tab6-radio" class="filter-label tab6" id="tech-label">Nivel 6</label>
  <label for="tab7-radio" class="filter-label tab7" id="tab1-label">Nivel 7</label>
  <label for="tab8-radio" class="filter-label tab8" id="tab2-label">Nivel 8</label>
  <label for="tab9-radio" class="filter-label tab9" id="tech-label">Nivel 9</label>
  <label for="tab10-radio" class="filter-label tab10" id="tab1-label">Nivel 10</label>
</header>

<main>
  <article class="content tab1">
        <div class="tab">
                <table border="0" cellspacing="0" cellpadding="0">
                  <thead>
                      <tr><th>Código de la Asignatura</th>
                        <th>Nombre de la Asignatura</th>
                        <th>Créditos</th>
                        </tr>
                  </thead>
              <tbody>
                <tr>
                  <td><li>CT13000</li></td>
                  <td>Introducción a la ingeniería</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td><li>CT10006</li></td>
                  <td>Algoritmia y programación</td>
                  <td>3</td>
                </tr>
                  <tr>
                  <td><li>CT10007</li></td>
                  <td>Pensamiento sistémico e innovación</td>
                  <td>2</td>
                </tr>
                  <tr>
                  <td><li>CH04001</li></td>
                  <td>Expresión oral y escrita</td>
                  <td>2</td>
                </tr>
                  <tr>
                  <td><li>CB01004</li></td>
                  <td>Fundamentación matemática</td>
                  <td>3</td>
                </tr>
                  <tr>
                  <td><li>CH08001</li></td>
                  <td>Preseminario</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
              </div>
  </article>

  <article class="content tab2">
        <div class="tab">
                <table border="0" cellspacing="0" cellpadding="0">
                  <thead>
                      <tr><th>Código de la Asignatura</th>
                        <th>Nombre de la Asignatura</th>
                        <th>Créditos</th>
                        </tr>
                  </thead>
              <tbody>
                  <tr>
                  <td><li>CT10009</li></td>
                  <td>Programación imperativa</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td><li>CT10010</li></td>
                  <td>Estructuras discretas</td>
                  <td>3</td>
                </tr>
                  <tr>
                  <td><li>CB01005</li></td>
                  <td>Cálculo diferencial</td>
                  <td>3</td>
                </tr>
                  <tr>
                  <td><li>CB01018</li></td>
                  <td>Álgebra lineal</td>
                  <td>3</td>
                </tr>
                  <tr>
                  <td><li></li></td>
                  <td>Electiva Institucional I</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
              </div> 
  </article>

  <article class="content tab3">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CT10021</li></td>
            <td>Estructuras de datos</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CB03005</li></td>
            <td>Mecánica y laboratorio</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CB01015</li></td>
            <td>Cálculo integral</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10069</li></td>
            <td>Diseño y programación orientada a objetos</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CH08002</li></td>
            <td>Antropología Filosófica</td>
            <td>2</td>
         </tr></tbody>
      </table>
        </div>
  </article>

  <article class="content tab4">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CB03006</li></td>
            <td>Óptica, ondas y laboratorio</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>LM01001</li></td>
            <td>Inglés independiente</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CB01016</li></td>
            <td>Cálculo vectorial</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CB02007</li></td>
            <td>Probabilidad y estadística</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10029</li></td>
            <td>Bases de datos</td>
            <td>3</td>
         </tr></tbody>
      </table>
        </div>
  </article>

  <article class="content tab5">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CB03007</li></td>
            <td>Electricidad y magnetismo y laboratorio</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>LM01002</li></td>
            <td>Inglés independiente avanzado</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CB01017</li></td>
            <td>Ecuaciones diferenciales</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10084</li></td>
            <td>Autómatas y lenguajes</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CH03001</li></td>
            <td>Ética general</td>
            <td>2</td>
        </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva institucional II</td>
            <td>2</td>
        </tr>
         </tbody>
      </table>
        </div>
  </article>

  <article class="content tab6">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CT10040</li></td>
            <td>Sistemas operativos</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10088</li></td>
            <td>Redes de comunicaciones</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10070</li></td>
            <td>Ingeniería de software</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10085</li></td>
            <td>Análisis y diseño de algoritmos</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CE05002</li></td>
            <td>Ingeniería económica</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
        </div>
  </article>

  <article class="content tab7">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CT10066</li></td>
            <td>Redes y servicios</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10071</li></td>
            <td>Construcción de software</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10086</li></td>
            <td>Algoritmos y análisis estocástico</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CE05003</li></td>
            <td>Formulación y evaluación de proyectos</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CH01001</li></td>
            <td>Cultura católica</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
        </div>
  </article>

  <article class="content tab8">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
          <thead>
              <tr><th>Código de la Asignatura</th>
                <th>Nombre de la Asignatura</th>
                <th>Créditos</th>
                </tr>
          </thead>
        <tbody>
          <tr>
            <td><li>CT11004</li></td>
            <td>Sistemas distribuidos computacionales</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10067</li></td>
            <td>Sistemas de información</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10073</li></td>
            <td>Arquitectura de software</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10083</li></td>
            <td>CT10089</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT10087</li></td>
            <td>Modelado y simulación</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
        </div>
  </article>

  <article class="content tab9">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
              <thead>
                  <tr><th>Código de la Asignatura</th>
                    <th>Nombre de la Asignatura</th>
                    <th>Créditos</th>
                    </tr>
              </thead>
        <tbody>
          <tr>
            <td><li>CT10057</li></td>
            <td>Informática social</td>
            <td>4</td>
          </tr>
          <tr>
            <td><li>CT13004</li></td>
            <td>Trabajo de grado I</td>
            <td>2</td>
          </tr>
          <tr>
            <td><li>CH08004</li></td>
            <td>Filosofía del arte</td>
            <td>1</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa I</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa II</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa III</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
        </div>
  </article>

  <article class="content tab10">
      <div class="tab">
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr><th>Código de la Asignatura</th>
                  <th>Nombre de la Asignatura</th>
                  <th>Créditos</th>
                  </tr>
            </thead>
        <tbody>
          <tr>
            <td><li>CT10068</li></td>
            <td>Gerencia de proyectos de TI</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li>CT13009</li></td>
            <td>Trabajo de grado II</td>
            <td>4</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa IV</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa V</td>
            <td>3</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Electiva del Programa VI</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
        </div>
  </article>

</main>

</body>

</html>

