<html>
<head>
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <link rel="stylesheet" href="css/fontello.css">
       <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   -->
   <script src="js/pensum.js"></script>
	</head>

<body>
  <header>

    <div class="contenedor">
        <h1 class="icon-desktop">Sistemas y Computacíon</h1>

        <nav class="navbar">
          <a class ="navbar-btn"href="#" target="inicio">Inicio</a>
          <a class ="navbar-btn" href="#">Plan de Estudios</a>
          <a class ="navbar-btn" href="#">Contacto</a>
        </nav>
    </div>
  </header>

<div class="container-fluid">

  <p align="center">¿Por qué estudiar Ingeniería de Sistemas y Computacíon?</p>


</div>

<main>
  <section id="banner">
      <div class="banner-slider">
          <ul>
            <li><img src="img/banner1.jpg" class="img-fluid" alt="Responsive image"></li>
            <li><img src="img/banner2.jpg" class="img-fluid" alt="Responsive image"></li>
            <li><img src="img/banner3.jpg" class="img-fluid" alt="Responsive image"></li>
          </ul> 
        </div>
        <div class="contenedor">
          <h2>¿POR QUÉ ESTUDIAR INGENIERÍA DE SISTEMAS Y COMPUTACIÓN EN LA UNIVERSIDAD CATOLICA DE COLOMBIA?</h2>
          <a href="#">Leer más...</a>
        </div>

  </section>
<!--
    <section id="info">
      <div class="contenedor">
        <article>
          <h4>Contamos con <strong>Acreditación de Alta Calidad</strong></h4>
        </article>
        <article>
          <h4>Nuestros estudiantes tienen la opción de realizar<strong>semestres académicos en el exterior</strong></h4>
        </article>
        <article>
          <h4>Ofrecemos la posibilidad de tomar<strong> cursos opcionales intersemestrales,</strong> y así incrementar el numero de creditos a cursar.</h4>
        </article>
        <article>
          <h4>Nuestro plan de estudios incluye <strong>Inglés</strong></h4>
        </article>
        <article>
          <h4>Participamos en <strong>Proyectos de investigación </strong>en inteligencia artificial, seguridad y más...</h4>
        </article>
      </div>

    </section>-->

</main>

<div class="contenedor">

    <div class="card-views">
      <div class="image">
        <img src="img/banner2.jpg">
        <div class="title">
          <h2>¡Alta Calidad!</h2>
          <div class="description">
            <p>Contamos con <strong>Acreditación de Alta Calidad</strong></p>
            <button>Leer más...</button>
          </div>
        </div>
      </div>
    </div>

<!--
  CardsViewS
-->
    <div class="card-views">
        <div class="image">
          <img src="img/banner1.jpg">
          <div class="title">
            <h2>Semestres Academicos</h2>
            <div class="description">
              <p>Nuestros estudiantes tienen la opción de realizar<strong>semestres académicos en el exterior</strong></p>
              <button>Leer más...</button>
            </div>
          </div>
        </div>
      </div>
  <!--
  CardsViewS
-->
    <div class="card-views">
        <div class="image">
          <img src="img/banner1.jpg">
          <div class="title">
            <h2>Cursos intersemestrales</h2>
            <div class="description">
              <p>Ofrecemos la posibilidad de tomar<strong> cursos opcionales intersemestrales,</strong> y así incrementar el numero de creditos a cursar.</p>
              <button>Leer más...</button>
            </div>
          </div>
        </div>
      </div>

  <!--
  CardsViewS
-->
    <div class="card-views">
        <div class="image">
          <img src="img/banner1.jpg">
          <div class="title">
            <h2>Inglés en el Pensum</h2>
            <div class="description">
              <p>Nuestro plan de estudios incluye <strong>Inglés</p>
              <button>Leer más...</button>
            </div>
          </div>
        </div>
      </div>
  <!--
  CardsViewS
-->
    <div class="card-views">
        <div class="image">
          <img src="img/banner1.jpg">
          <div class="title">
            <h2>Proyectos e investigación</h2>
            <div class="description">
              <p>Participamos en <strong>Proyectos de investigación </strong>en inteligencia artificial, seguridad y más...</p>
              <button>Leer más...</button>
            </div>
          </div>
        </div>
      </div>
  <!--
  CardsViewS
-->
    <div class="card-views">
        <div class="image">
          <img src="img/banner1.jpg">
          <div class="title">
            <h2>Universidades internacionales</h2>
            <div class="description">
              <p>Nuestros estudiantes pueden participar en <strong>visitas técnicas internacionales</strong> a las mejores universidades del mundo.</p>
              <button>Leer más...</button>
            </div>
          </div>
        </div>
      </div>

</div>


<footer>

    <div class="contenedor">
      <p class="copy">Jorge Carpintero y Andres Gil &copy; 2019-2020</p>
      <div class="sociales">
        <a class="icon-facebook-official" href="https://www.facebook.com/ucatolicacolombia/"></a>
        <a class="icon-instagram" href="https://www.instagram.com/universidadcatolicadecolombia/"></a>
        <a class="icon-code" href="https://www.ucatolica.edu.co/portal/"></a>

      </div>

    </div>


</footer>


</body>

</html>