<html>
<head>
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <link rel="stylesheet" href="css/index.css" type="text/css">
        <link rel="stylesheet" href="css/fontello.css">
       <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   -->
   <script src="js/pensum.js" type="text/javascript"></script>
	</head>

<body>
  <header>

    <div class="contenedor">
        <h1 class="icon-desktop">Sistemas y Computacíon</h1>

        <nav class="navbar">

            <a class ="navbar-btn"href="#">Inicio</a>
            <a class ="navbar-btn" href="#">Plan de Estudios</a>
            <a class ="navbar-btn" href="#">Contacto</a>
        </nav>
    </div>
  </header>

<div class="container-fluid">

  <p align="center">¿Por qué estudiar Ingeniería de Sistemas y Computacíon?</p>


</div>

<main>
  <section id="banner">
      <div class="banner-slider">
          <ul>
            <li><img src="img/banner1.jpg" class="img-fluid" alt="Responsive image"></li>
            <li><img src="img/banner2.jpg" class="img-fluid" alt="Responsive image"></li>
            <li><img src="img/banner3.jpg" class="img-fluid" alt="Responsive image"></li>
          </ul> 
        </div>
        <div class="contenedor">
          <h2>¿POR QUÉ ESTUDIAR INGENIERÍA DE SISTEMAS Y COMPUTACIÓN EN LA UNIVERSIDAD CATOLICA DE COLOMBIA?</h2>
          <a href="#">Leer más...</a>
        </div>

  </section>
<!--
    <section id="pensum">
        <div class="contenedor">          
            <input type="radio" id="tab1-radio" class="radio-button" name="content-filter" checked="checked">
            <input type="radio" id="tab2-radio" class="radio-button" name="content-filter" value="Nivel 2">
            <input type="radio" id="tab3-radio" class="radio-button" name="content-filter" value="Nivel 3">
            <input type="radio" id="tab4-radio" class="radio-button" name="content-filter" value="Nivel 4">
            <input type="radio" id="tab5-radio" class="radio-button" name="content-filter" value="Nivel 5">
            <input type="radio" id="tab6-radio" class="radio-button" name="content-filter" value="Nivel 6">
            <input type="radio" id="tab7-radio" class="radio-button" name="content-filter" value="Nivel 7">
            <input type="radio" id="tab8-radio" class="radio-button" name="content-filter" value="Nivel 8">
            <input type="radio" id="tab9-radio" class="radio-button" name="content-filter" value="Nivel 9">
            <input type="radio" id="tab10-radio" class="radio-button" name="content-filter" value="Nivel 10">

            <div id="filter">
              <label for="tab1-radio" class="filter-label tab1" id="tab1-label">Nivel 1</label>
              <label for="tab2-radio" class="filter-label tab2" id="tab2-label">Nivel 2</label>
              <label for="tab3-radio" class="filter-label tab3" id="tech-label">Nivel 3</label>
              <label for="tab4-radio" class="filter-label tab4" id="tab1-label">Nivel 4</label>
              <label for="tab5-radio" class="filter-label tab5" id="tab2-label">Nivel 5</label>
              <label for="tab6-radio" class="filter-label tab6" id="tech-label">Nivel 6</label>
              <label for="tab7-radio" class="filter-label tab7" id="tab1-label">Nivel 7</label>
              <label for="tab8-radio" class="filter-label tab8" id="tab2-label">Nivel 8</label>
              <label for="tab9-radio" class="filter-label tab9" id="tech-label">Nivel 9</label>
              <label for="tab10-radio" class="filter-label tab10" id="tab1-label">Nivel 10</label>
            </div>
        </div>
      </section>-->

      <div class="contenedor">

        <iframe src="pruebas/prueba.html">

        </iframe>
      </div>

</main>
<!--
<article class="content tab1">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT13000</li></td>
              <td>Introducción a la ingeniería</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10006</li></td>
              <td>Algoritmia y programación</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CT10007</li></td>
              <td>Pensamiento sistémico e innovación</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CH04001</li></td>
              <td>Expresión oral y escrita</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CB01004</li></td>
              <td>Fundamentación matemática</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CH08001</li></td>
              <td>Preseminario</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
          </div>
</article>

<article class="content tab2">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT10009</li></td>
              <td>Programación imperativa</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10010</li></td>
              <td>Estructuras discretas</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01005</li></td>
              <td>Cálculo diferencial</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01018</li></td>
              <td>Álgebra lineal</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li></li></td>
              <td>Electiva Institucional I</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
          </div> 
</article>

<article class="content tab3">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT13000</li></td>
              <td>Introducción a la ingeniería</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10006</li></td>
              <td>Algoritmia y programación</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CT10007</li></td>
              <td>Pensamiento sistémico e innovación</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CH04001</li></td>
              <td>Expresión oral y escrita</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CB01004</li></td>
              <td>Fundamentación matemática</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CH08001</li></td>
              <td>Preseminario</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
          </div>
</article>

<article class="content tab4">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT10009</li></td>
              <td>Programación imperativa</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10010</li></td>
              <td>Estructuras discretas</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01005</li></td>
              <td>Cálculo diferencial</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01018</li></td>
              <td>Álgebra lineal</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li></li></td>
              <td>Electiva Institucional I</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
          </div> 
</article>

<article class="content tab5">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT13000</li></td>
              <td>Introducción a la ingeniería</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10006</li></td>
              <td>Algoritmia y programación</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CT10007</li></td>
              <td>Pensamiento sistémico e innovación</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CH04001</li></td>
              <td>Expresión oral y escrita</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CB01004</li></td>
              <td>Fundamentación matemática</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CH08001</li></td>
              <td>Preseminario</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
          </div>
</article>

<article class="content tab6">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT10009</li></td>
              <td>Programación imperativa</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10010</li></td>
              <td>Estructuras discretas</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01005</li></td>
              <td>Cálculo diferencial</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01018</li></td>
              <td>Álgebra lineal</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li></li></td>
              <td>Electiva Institucional I</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
          </div> 
</article>

<article class="content tab7">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT13000</li></td>
              <td>Introducción a la ingeniería</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10006</li></td>
              <td>Algoritmia y programación</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CT10007</li></td>
              <td>Pensamiento sistémico e innovación</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CH04001</li></td>
              <td>Expresión oral y escrita</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CB01004</li></td>
              <td>Fundamentación matemática</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CH08001</li></td>
              <td>Preseminario</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
          </div>
</article>

<article class="content tab8">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT10009</li></td>
              <td>Programación imperativa</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10010</li></td>
              <td>Estructuras discretas</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01005</li></td>
              <td>Cálculo diferencial</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01018</li></td>
              <td>Álgebra lineal</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li></li></td>
              <td>Electiva Institucional I</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
          </div> 
</article>

<article class="content tab9">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT13000</li></td>
              <td>Introducción a la ingeniería</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10006</li></td>
              <td>Algoritmia y programación</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CT10007</li></td>
              <td>Pensamiento sistémico e innovación</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CH04001</li></td>
              <td>Expresión oral y escrita</td>
              <td>2</td>
            </tr>
              <tr>
              <td><li>CB01004</li></td>
              <td>Fundamentación matemática</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CH08001</li></td>
              <td>Preseminario</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
          </div>
</article>

<article class="content tab10">
    <div class="tab">
            <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
              <tr><th style="padding-left: 20px;">Código de la Asignatura</th>
              <th>Nombre de la Asignatura</th>
              <th>Créditos</th>
            </tr><tr>
              <td><li>CT10009</li></td>
              <td>Programación imperativa</td>
              <td>3</td>
            </tr>
            <tr>
              <td><li>CT10010</li></td>
              <td>Estructuras discretas</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01005</li></td>
              <td>Cálculo diferencial</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li>CB01018</li></td>
              <td>Álgebra lineal</td>
              <td>3</td>
            </tr>
              <tr>
              <td><li></li></td>
              <td>Electiva Institucional I</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
          </div> 
        </article>

-->
<footer>

    <div class="contenedor">
      <p class="copy">Jorge Carpintero y Andres Gil &copy; 2019-2020</p>
      <div class="sociales">
        <a class="icon-facebook-official" href="https://www.facebook.com/ucatolicacolombia/"></a>
        <a class="icon-instagram" href="https://www.instagram.com/universidadcatolicadecolombia/"></a>
        <a class="icon-code" href="https://www.ucatolica.edu.co/portal/"></a>

      </div>

    </div>


</footer>


</body>

</html>